body{
    margin: 0px;
    margin-bottom: 40px;
}
html{
    min-height: 100%;
    position: relative;
}
footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
.navbar{
    color: red !important;
}
.info{
    background-color:beige;
    padding: 40px;
}