*{
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0px;
    margin-bottom: 40px;
}
html{
    min-height: 100%;
    position: relative;
}
.tittle{
    text-align: center;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
}
footer{
    padding: 7px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
.imagen{
    padding: 50px;
    justify-content: center;
}
.info{
    padding: 120px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: white;
    border-bottom: 3px solid transparent;
    margin: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-color: white;
}
.titulos{
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    color: white;
}
header{
    background-color:#D2EDEF;
}
