*{
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0px;
    margin-bottom: 40px;
}
html{
    min-height: 100%;
    position: relative;
}
.tittle{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    margin: 0px;
    background-image: url(imagenes/istockphoto-1440656058-612x612.jpg);
    background-size: cover;
    background-attachment: fixed;
}
footer{
    padding: 7px;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
.fas{
    padding:0px 10px 0px 5px;
    pa
}
.imagen{
    padding: 50px;
    justify-content: center;
}
.info{
    padding: 120px;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    color: black;
    border-bottom: 3px solid transparent;
    margin: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-color: olivedrab;
    color: olivedrab;
}
.titulos{
    background-color: olivedrab;
    text-align: center;
    padding: 20px;
    color: white;
}

